.zoom-buttons-container {

  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #ffffff;

  button {
    padding: 0;
    display: block;
    min-width: 36px;

    &.btn-zoom-in {
      border-bottom: solid 1px #eeeeee;
    }

    .mat-icon {
      font-size: 16px;
      height: 16px;
    }
  }
}
