<md-toolbar class="main-toolbar">
  <button md-icon-button (click)="openSideNav()" md-tooltip="Menu" class="btn-menu">
    <md-icon>menu</md-icon>
  </button>
  <md-button-toggle (change)="editToggleEvent($event)" #editModeToggler
                    md-tooltip="Toggle Edit Mode" [mdTooltipPosition]="'below'">
    <md-icon>timeline</md-icon>
    Edit
  </md-button-toggle>
  <button md-button [mdMenuTriggerFor]="algorithmsMenu.menu" (click)="leaveEditMode()"
          md-tooltip="Run Algorithms" [mdTooltipPosition]="'below'">
    <md-icon>play_arrow</md-icon>
    Algorithms
  </button>
  <button md-button md-tooltip="Search for Nodes or Edges" [mdTooltipPosition]="'below'"
          (click)="leaveEditMode()">
    <md-icon>search</md-icon>
    Search
  </button>
  <app-algorithms-menu #algorithmsMenu (algorithmSelected)="graphComponent.runAlgorithm($event)">
  </app-algorithms-menu>
</md-toolbar>
