.main-toolbar {
  width: auto;
  padding-right: 0;
  background-color: white;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 10px;
  left: 10px;

  md-button-toggle {
    box-shadow: none;

    &:not(.mat-button-toggle-checked):hover {
      background-color: rgba(0, 0, 0, .12);
    }
  }

  md-icon {
    position: relative;
    left: -8px;
  }

  .btn-menu {
    margin-right: 12px;

    md-icon {
      left: 0;
    }
  }
}

.main-toolbar [md-button] {
  height: 100%;
  padding: 0 30px;
  min-width: initial;
}

.main-toolbar md-button-toggle {
  height: 100%;
  padding: 0 14px;
  line-height: 64px;
  font-size: 14px;
  color: inherit;
  transition: all 300ms;
  transition-property: background-color, color;

  /deep/ .mat-button-toggle-label-content {
    padding: 16px;
  }
}

.main-toolbar .mat-button-toggle-checked {
  background-color: #3f51b5;
  color: rgba(255, 255, 255, .87);
}

h6[md-subheader] {
  color: #aaaaaa;
}

.mat-menu-item {
  font-size: 14px;
}

@media (max-width: 600px) {
  md-button-toggle, button:not(.btn-menu) {
    display: none;
  }

  .main-toolbar {
    background: transparent;
    box-shadow: none;
  }
}
