.main-toolbar {
  width: auto;
  padding-right: 0;
  background-color: white;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 10px;
  left: 10px;

  md-button-toggle:not(.mat-button-toggle-checked):hover {
    background-color: rgba(0, 0, 0, .12);
  }
}

.main-toolbar [md-button] {
  height: 100%;
  padding: 0 30px;
  min-width: initial;
}

.main-toolbar md-button-toggle {
  height: 100%;
  padding: 0 14px;
  line-height: 64px;
  font-size: 14px;
  color: inherit;
}

.main-toolbar .mat-button-toggle-checked {
  background-color: #3f51b5;
  color: rgba(255, 255, 255, .87);
}
