<h1 md-dialog-title>Edit {{el.isNode() ? 'node' : 'edge'}}</h1>
<div md-dialog-content>
  <form [formGroup]="existingPropertiesFormGroup">
    <table class="properties-table">
      <tr *ngFor="let property of existingProperties">
        <td *ngIf="!property.disabled" class="col-remove">
          <button md-icon-button (click)="deleteExistingProperty(property.key)">
            <md-icon>close</md-icon>
          </button>
        </td>
        <td [attr.colspan]="property.disabled ? 2 : null">
          <md-input-container>
            <input mdInput placeholder="{{property.key}}" [formControlName]="property.key"
                   [id]="property.key">
          </md-input-container>
        </td>
      </tr>
    </table>
    <table class="properties-table">
      <tr *ngFor="let formGroup of newPropertiesFormGroups; let i = index"
          [formGroup]="formGroup">
        <td class="col-remove">
          <button md-icon-button (click)="deleteNewProperty(i)">
            <md-icon>close</md-icon>
          </button>
        </td>
        <td>
          <md-input-container>
            <input mdInput placeholder="Key" [id]="'key'" [formControlName]="'key'"
                   [mdAutocomplete]="auto">
          </md-input-container>
        </td>
        <td>
          <md-input-container>
            <input mdInput placeholder="Value" [id]="'value'" [formControlName]="'value'">
          </md-input-container>
        </td>
      </tr>
    </table>
    <md-autocomplete #auto="mdAutocomplete">
      <md-option *ngFor="let property of data.commonProperties" [value]="property">
        {{ property }}
      </md-option>
    </md-autocomplete>
    <button md-button (click)="addNewProperty()">Add new property</button>
  </form>
</div>
<div md-dialog-actions align="end">
  <button md-button md-dialog-close>
    Cancel
  </button>
  <button md-raised-button (click)="save()" [md-dialog-close]="el" color="primary">
    Save
  </button>
</div>

