md-input-container, md-slider, md-select {
  width: 100%;
}

md-select {
  margin-top: 14px;
}

.size-label, .color-label {
  font-size: 12px;
  color: rgba(0, 0, 0, .38);
  display: block;
}

.size-label {
  margin-top: 22px;
}

.color-label {
  margin-top: 12px;
}

.color-preview {
  display: inline-block;
  border-radius: 24px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin: 3px;

  &.default-color {
    background-color: #666666;
  }

  &.lighter-color {
    background-color: #cccccc;
  }

  &.primary-color {
    background-color: #3f51b5;
  }

  &.secondary-color {
    background-color: #579cff;
  }
}

.mat-button-toggle-group {
  box-shadow: none;
  margin-top: 12px;
  margin-left: -16px;
}

.mat-button-toggle {
  margin-right: -10px;
}

.mat-button-toggle-checked {
  background: none;
  .color-preview {
    border: solid 3px #ff4081;
    margin: 0;
  }
}
