.btn-layout-switch {
  position: absolute;
  bottom: 20px;
  right: 100px;
  width: 36px;
  height: 36px;
  padding: 0;
  line-height: 36px;

  md-icon {
    font-size: 16px;
    color: #666666;
  }
}

.mat-menu-item {
  font-size: 14px;
}
