<md-sidenav-container class="sidenav-container">

  <app-main-toolbar (navToggle)="sidenav.toggle()"
                    [graphComponent]="graph" #mainToolbar></app-main-toolbar>
  <app-account-button></app-account-button>
  <app-hints *ngIf="emptyGraph"></app-hints>

  <app-graph #graph (empty)="isEmptyGraph($event)" [mainToolbar]="mainToolbar" appContextMenus
             appEdgeBendEditing appEdgeHandles appNodeAddition appShortcuts
             appNeighborsHighlight></app-graph>

  <md-sidenav #sidenav>
    <app-side-menu [sideNav]="sidenav" [graphComponent]="graph"
                   [mainToolbar]="mainToolbar"></app-side-menu>
  </md-sidenav>

</md-sidenav-container>
