.sidenav-container {
  height: 100%;
}

:host /deep/ .mat-sidenav-backdrop.mat-sidenav-shown {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

md-sidenav {
  width: 300px;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/deep/ canvas {
  @extend .no-select
}
