<h1 md-dialog-title>Graph Options</h1>
<div md-dialog-content>
  <md-input-container>
    <input mdInput placeholder="Name" value="Graph name">
  </md-input-container>
  <div class="checkbox-container">
    <md-checkbox [(ngModel)]="options.directed">Directed Graph</md-checkbox>
  </div>
  <md-slide-toggle [(ngModel)]="options.showEdgeLabels">Show edge labels instead of weights
  </md-slide-toggle>
</div>
<div md-dialog-actions align="end">
  <button md-button md-dialog-close>
    Cancel
  </button>
  <button md-button [md-dialog-close]="options">Save</button>
</div>
