<h2 md-dialog-title>Shortcuts</h2>
<md-dialog-content>

  <div *ngFor="let group of shortcutsGroup" class="shortcuts-group">
    <h3>{{group.name}}</h3>
    <table>
      <tr *ngFor="let shortcut of group.shortcuts">
        <td>
          <kbd *ngFor="let key of shortcut.keys">{{key}}</kbd>
        </td>
        <td>
          <span class="shortcut-description">{{shortcut.description}}</span>
        </td>
      </tr>
    </table>
  </div>

</md-dialog-content>
<md-dialog-actions align="end">
  <button md-button md-dialog-close>Close</button>
</md-dialog-actions>
