<md-list>
  <md-list-item class="logo">
    Graphy
    <button md-icon-button class="btn-close-side-nav">
      <md-icon (click)="sideNav.close()">keyboard_arrow_left</md-icon>
    </button>
  </md-list-item>
  <md-divider></md-divider>
</md-list>

<md-nav-list>
  <div class="mobile-menu-items">
    <md-list-item (click)="mainToolbar.toggleEditMode();sideNav.close()">
      <button md-icon-button>
        <md-icon>timeline</md-icon>
      </button>
      <a href="#">Edit</a>
    </md-list-item>
    <md-list-item [mdMenuTriggerFor]="algorithmsMenu.menu" (click)="mainToolbar.leaveEditMode()">
      <button md-icon-button>
        <md-icon>play_arrow</md-icon>
      </button>
      <a href="#">Algorithms</a>
      <app-algorithms-menu #algorithmsMenu [graphComponent]="graphComponent"></app-algorithms-menu>
    </md-list-item>
    <md-list-item disabled (click)="mainToolbar.leaveEditMode()">
      <button md-icon-button>
        <md-icon>search</md-icon>
      </button>
      <a href="#">Search</a>
    </md-list-item>
    <md-divider></md-divider>
  </div>

  <md-list-item (click)="newGraph()">
    <button md-icon-button>
      <md-icon>insert_drive_file</md-icon>
    </button>
    <a href="#">New</a>
  </md-list-item>
  <md-list-item (click)="openImportDialog()">
    <button md-icon-button>
      <md-icon>folder_open</md-icon>
    </button>
    <a href="#">Open</a>
  </md-list-item>
  <md-list-item disabled>
    <button md-icon-button>
      <md-icon>save</md-icon>
    </button>
    <a href="#">Save</a>
  </md-list-item>
  <md-list-item disabled>
    <button md-icon-button>
      <md-icon>share</md-icon>
    </button>
    <a href="#">Share</a>
  </md-list-item>
  <md-list-item (click)="exportGraph()">
    <button md-icon-button>
      <md-icon>file_download</md-icon>
    </button>
    <a href="#">Export</a>
  </md-list-item>

  <md-divider></md-divider>

  <md-list-item (click)="showShortcutsDialog()">
    <button md-icon-button>
      <md-icon>keyboard</md-icon>
    </button>
    <a href="#">Shortcuts</a>
  </md-list-item>
  <md-list-item>
    <button md-icon-button>
      <md-icon>attach_money</md-icon>
    </button>
    <a href="#">Donate</a>
  </md-list-item>
  <md-list-item (click)="openGitHub()">
    <button md-icon-button>
      <md-icon>feedback</md-icon>
    </button>
    <a href="#">Feedback</a>
  </md-list-item>
  <md-list-item>
    <button md-icon-button>
      <md-icon>send</md-icon>
    </button>
    <a href="#">Contact</a>
  </md-list-item>
  <md-list-item disabled>
    <button md-icon-button>
      <md-icon>language</md-icon>
    </button>
    <a href="#">Language</a>
  </md-list-item>
</md-nav-list>

<md-list dense>
  <md-divider></md-divider>
  <md-list-item class="copyright-note">&copy; Lukasz Kostrzewa 2017</md-list-item>
</md-list>
