<md-list>
  <md-list-item class="logo">Graphy</md-list-item>
  <md-divider></md-divider>
</md-list>

<md-nav-list>
  <md-list-item (click)="newGraph()">
    <button md-icon-button>
      <md-icon>insert_drive_file</md-icon>
    </button>
    <a href="#">New</a>
  </md-list-item>
  <md-list-item (click)="openImportDialog()">
    <button md-icon-button>
      <md-icon>folder_open</md-icon>
    </button>
    <a href="#">Open</a>
  </md-list-item>
  <md-list-item disabled>
    <button md-icon-button>
      <md-icon>save</md-icon>
    </button>
    <a href="#">Save</a>
  </md-list-item>
  <md-list-item disabled>
    <button md-icon-button>
      <md-icon>share</md-icon>
    </button>
    <a href="#">Share</a>
  </md-list-item>
  <md-list-item (click)="exportGraph()">
    <button md-icon-button>
      <md-icon>file_download</md-icon>
    </button>
    <a href="#">Export</a>
  </md-list-item>

  <md-divider></md-divider>

  <md-list-item (click)="showShortcutsDialog()">
    <button md-icon-button>
      <md-icon>keyboard</md-icon>
    </button>
    <a href="#">Shortcuts</a>
  </md-list-item>
  <md-list-item>
    <button md-icon-button>
      <md-icon>attach_money</md-icon>
    </button>
    <a href="#">Donate</a>
  </md-list-item>
  <md-list-item (click)="openGitHub()">
    <button md-icon-button>
      <md-icon>feedback</md-icon>
    </button>
    <a href="#">Feedback</a>
  </md-list-item>
  <md-list-item>
    <button md-icon-button>
      <md-icon>send</md-icon>
    </button>
    <a href="#">Contact</a>
  </md-list-item>
  <md-list-item disabled>
    <button md-icon-button>
      <md-icon>language</md-icon>
    </button>
    <a href="#">Language</a>
  </md-list-item>
</md-nav-list>

<md-list dense>
  <md-divider></md-divider>
  <md-list-item class="copyright-note">&copy; Lukasz Kostrzewa 2017</md-list-item>
</md-list>
