md-divider {
  margin: 8px 0;
}

md-nav-list {
  md-list-item {
    font-size: 14px;

    .mat-icon-button {
      margin-right: 8px;
    }

    md-icon {
      font-size: 16px;
      color: #666666;
    }

    &[disabled] {
      pointer-events: none;
      color: #cccccc;
      md-icon {
        color: #cccccc;
      }
    }
  }
}

.copyright-note {
  color: #cccccc;
}

.logo {
  padding-left: 10px;
}

.mobile-menu-items {
  display: none;
}

@media (max-width: 600px) {
  .mobile-menu-items {
    display: block;
  }
}

.btn-close-side-nav {
  margin-left: auto;
}
